
*{
    margin: 0;
    padding: 0;
    font-family:  "Dosis", sans-serif;

}
nav{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}
.navpart1{
    margin-left: 10px;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    height: 60px;
    align-items: center ;

}
ul li{
    display: inline-block;
    padding: 15px 35px ;
    border-radius: 25px;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
ul li:hover{
    background-color: darkgrey;
}
ul li:hover a{
    color: black;
}
/* ?form */
.page1{
    height: 30%;
    width: 100%;
    background-image: linear-gradient(to bottom,#481633,#f5f78c);
    display: flex;
    align-items: center;
    justify-content: center;
}
.formcon1{
    text-align: center;
    height: 500px;
    width: 45%;
    background-color: black;
    margin: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 20px black;
}
form{
    width: 90%;
}
.heading1 h2{
    font-size: 26px;
    color: white;
    margin: 20px 0px;
 
}
.nametag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 100%;
}
.inp-first h4{
    color: white;
    text-align: left;
    margin: 5px;
    font-size: 19px;
}
.inp-last{
    height: 50px;
    margin-top: 17px;
}
.inp-last h4{
    color: white;
    text-align: left;
    margin: 5px;
}
.nametag h5{
    margin-left: 15px;
    text-align: left;
    color: white;
}

.nametag input{
   border-radius: 20px;
   padding: 13px 60px;
   transition: .2s ease;
}
.emailtag{
    height: 50px;
    margin-top: 40px;
    
}
.emailtag h4{
    font-size: 19px;
    text-align: left;
    color: white;
    margin-left: 40px;
    margin-bottom: 5px;
}
input[type="email"]{
    border-radius: 20px;
    width: 80%;
    padding: 14px 40px;
    transition: .2s ease;
}
.comment{
    height: 80px;
    width: 100%;
    margin: 60px 0px;
}
.comment h4{
    color: white;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 19px;
}
.comment input{
    border-radius: 20px;
    width: 80%;
    height: 40px;
    padding: 10px 40px;
    transition: .2s ease;
}

.btn1{
    padding: 11px 28px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 15px;
}
.btn1:hover{
    background-color: #f5f78c;
    transform: translateY(-5%);
}
input[type="email"]:hover{
    transform: translateY(-10%);
    background-color:#f5f78c;
}
input[type="text"]:hover{
    transform: translateY(-10%);
    background-color:#f5f78c;
}
